ion-content ion-toolbar {
  --background: translucent;
}
ion-title .title-wrapper {
  display: flex;
  align-items: center;
}
ion-title .title-id {
  color: #99999c;
  font-size: 12px;
  margin-left: 4px;
}
.container {
  text-align: center;
}
.p-textarea {
  margin: 12px;
  display: flex;
  align-items: center;
  background-color: #1f2124;
  border-radius: 8px;
  border: 1px solid #797b7d;
  padding: 2px 4px;
}
.p-textarea textarea {
  font-family: "aahub";
  color: #797b7d;
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  resize: none;
}
.p-textarea .send-button {
  color: #37393b;
  padding: 8px;
  margin-right: 8px;
  border-radius: 4px;
  --padding-start: 0px;
  --padding-end: 0px;
}
.p-textarea.active textarea {
  color: #fff;
}
.p-textarea.active .send-button {
  background-color: #266c52;
  color: #fff;
}
.chat-room-wrapper {
}
.talk-wrapper {
  border-bottom: 1px solid #5b5b5b;
  padding: 12px;
}
.talk-wrapper .talk-header {
  color: #99999c;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
}
.talk-wrapper .talk-header .menu-button-wrapper {
  visibility: hidden;
  margin-left: auto;
}
.talk-wrapper .talk-header .menu-button-wrapper .menu-button {
  --padding-top: 0px;
  --padding-bottom: 0px;
}
.talk-wrapper .talk-body {
  font-family: "aahub";
  padding-bottom: 12px;
  white-space: pre;
  user-select: auto;
}
.talk-wrapper:hover {
  background-color: var(--ion-item-background);
}
.talk-wrapper:hover .talk-header .menu-button-wrapper{
  visibility: visible;
}
