.talk-wrapper {
  border-bottom: 1px solid #5b5b5b;
  padding: 12px;
}
.talk-delete-wrapper {
  color: #99999c;
}
.talk-wrapper .talk-header {
  color: #99999c;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
}
.talk-wrapper .talk-header .menu-button-wrapper {
  visibility: hidden;
  margin-left: auto;
}
.talk-wrapper .talk-header .menu-button-wrapper .menu-button {
  --padding-top: 0px;
  --padding-bottom: 0px;
}
.talk-wrapper .talk-body {
  font-family: "aahub";
  padding-bottom: 12px;
  white-space: pre;
  user-select: auto;
}
.talk-wrapper:hover {
  background-color: var(--ion-item-background);
}
.talk-wrapper:hover .talk-header .menu-button-wrapper {
  visibility: visible;
}
.talk-wrapper:hover.other-talk .menu-button-wrapper,
.talk-wrapper:hover.talk-delete-wrapper .menu-button-wrapper,
.talk-wrapper:hover.is-edited .menu-button-wrapper {
  visibility: hidden;
}
.talk-wrapper.is-edited {
  background-color: var(--ion-color-edited);
}
